<!DOCTYPE html>
<html lang="en">
<head>
  <title>Academy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="styles.css">
  
</head>

<body>
<div class="container">
<nav class="navbar navbar-default">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tutorials Point</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>

  <div class="collapse navbar-collapse navbar-right" id="myNavbar">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Library <span class="caret"></span></a>
          <ul class="dropdown-menu">
             <li><a href="#">ytjtjf</a></li>
             <li><a href="#">ytjtjf</a></li>
             <li><a href="#">ytjtjf</a></li>
             <li><a href="#">ytjtjf</a></li>
          </ul>
        </li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>

  </div>
</nav>
</div>


</body>
</html>